section {
    width: 100%;
    display: grid;
    margin-top: 38px;
    grid-template-columns: 15% 85%;
    @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;;
    }
}
aside {
    background: $color_primario;
    width: 100%;
    top: 38px;
    z-index: 1000;
    height: calc(100vh - 38px);
    ul {
        li {
            a {
                display: block;
                text-align: center;
                color: white;
                text-decoration: none;
                padding: 20px 0;
                font-size: 12px;
                &:hover {
                    background: darken($color_primario, 10);
                }
            }
        }
    }
    @media screen and (max-width: 480px) {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 38px;
    }
}
