//Importaciones
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,800;1,400&family=Open+Sans:wght@400;700&display=swap');
// Varibles

// Colores
$color_primario: #01172F; 
$color_boton: #06f;
$color_font: #131313;

$color_edit: #f1c40f;
$color_success: #27ae60;
$color_error: #e74c3c;
// Fuentes
$font_titulo: 'Montserrat', sans-serif;
$font_texto: 'Open Sans', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $font_titulo;
}
p, a, label, input, th, td, button {
    font-family: $font_texto;
}
img  {
    width: 100%;
}
.titulo::after {
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background: #000;
    border-radius: 50px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.icon-pencil {
    color: $color_edit;
    &:hover {
        cursor: pointer;
        color: darken($color_edit, 10);
    }
}

@media screen and (max-width: 600px) {   
    .icon-arrow-circle-o-down {
        color: $color_success;
        font-size: 25px;
        &:hover {
            cursor: pointer;
            color: darken($color_success, 10);
        }
    }
    .icon-arrow-circle-o-up{
        color: $color_error;
        font-size: 25px;
        &:hover {
            cursor: pointer;
            color: darken($color_error, 10);
        }
    }
    nav{
        ul{
            li{
                display: none;
            }
        }
    }
}
@media(min-width: 768px) {
    .icon-arrow-circle-o-down{
        display: none;
    }
    .icon-arrow-circle-o-up{
        display: none;
    }
    .name{
        display: none;
    }
}
.icon-trash {
    color: $color_error;
    &:hover {
        cursor: pointer;
        color: darken($color_error, 10);
    }
}
.icon-check-circle {
    color: $color_success;
    &:hover {
        cursor: pointer;
        color: darken($color_success, 10);
    }
}
.delete, .edit{
    text-decoration: none;
}