nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $color_primario;
    z-index: 2000;
    ul {
        display: flex;
        justify-content: space-between;
        padding: 10px 40px;
        list-style: none;
        a {
            color: white;
            text-decoration: none;
        }
    }
}